tr[class='Pendiente']{
	background-color : #80E893; /*verde*/
}
tr[class='Confirmado']{
	background-color : #BE9A80; /*marron*/
}
tr[class='Disponible']{
	background-color : #638AF6; /*azul*/
}
tr[class='Cancelado']{
	background-color : #FD4B4B; /*rojo*/
}

/*Estados posibles de las reservas, el color se usa en agenda*/

body{
	font-size: 14px;	
} 

th{
	font-size: 15px;	
}

tr{
	font-size: 15px;	
}

.btn .btn-info .btn-block .card .card-header{
	font-size: 15px;	
} 


